name: Sync to Account B

on:
  push:
    branches:
      - main  # 同期したいブランチ名
  workflow_dispatch: # 手動実行ボタン用

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false  # 【重要】ロボットの自動ログインを無効化

      - name: Push to Account B
        run: |
          # ユーザー名の設定（必須）
          git config --global user.name "GazelleCode"
          git config --global user.email "your-email@example.com"

          # URL設定（シンプルにトークン埋め込み）
          REMOTE_REPO="https://${{ secrets.EXTERNAL_REPO_TOKEN }}@github.com/ubunture/site2.git"
          
          # 実行
          git push --force "$REMOTE_REPO" main
